*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #6633c0;
}
#container{
    width: 350px;
    height: 450px;
    background-color: #e7e7e7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 5px 0px rgba(53, 53, 53, 0.699) ,
    -2px -2px 5px 0px rgba(255, 255, 255, 0.664);
    transition: all 1.5s;
  
}
#header{
    position: absolute;
    font-size: 3rem;
    color: #6633c0;
    top: 25px;
    
    background: -webkit-linear-gradient(rgb(34, 13, 230), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-delay: 2s;
  
}
.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('./Hadi.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    top: 100px;
    border: 2px solid rgb(241, 239, 239);
    box-shadow: 1px 1px 10px rgb(145, 145, 145),
    -2px -2px 5px #fff ,
    -2px 2px 5px #eee;
    
}
.input{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -3px 5px 0px rgba(194, 193, 193, 0.637);
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    border-radius: 15px;
    padding-top: 20px;
    
    
}
.input input{
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    background-color: rgb(226, 226, 226);
    box-shadow: inset 2px 2px 10px 5px rgb(199, 197, 197) ,
    inset -2px 2px 10px 5px #fff;
    color: #6633c0;
}
.input input:focus{
    outline: none;
}
.input label{
    margin-top: 8px;
}
.input li{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 300px;
    
    position: relative;
    
}
#signinButton{
    margin: 30px ;
    padding: 12px 95px;
    border-radius: 15px;
    background-color: #6633c0;
    border: none;
    color: #fff;
    font-size: 1rem;
    box-shadow: 3px 3px 10px 2px rgb(100, 100, 100);
    transition: all 0.5s;
}
#signinButton:hover{
    cursor: pointer;
    background-color: #795cac;
    box-shadow: 1px 1px 5px 0px rgb(112, 112, 112);

}
#links{
    
    display: flex;
    justify-items: start;
    margin: 0 10px;
}
#links a{
    diplay: none;
    justify-self: end;
    color: #6633c0;
    position: absolute;
    right: 150px;
    bottom: 5px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
#links a:hover{
    color: #7a56b8;
}
.input i{
    position: absolute;
    left: 35px;
    top: 6px;
    font-size: 1.3rem;
    color: #6633c0;
}
#changeButton{
    position: absolute;
    
    top:  410px;
    left: 230px;
    
    border: none;
    border-radius: 15px;
    color: #6633c0;
    font-size: 1rem;

}
#changeButton:hover{
    cursor: pointer;
    color:#7a56b8;
}